/* Font styles for Obsidian */

/* Body font */
body {
    font-family: 'Spectral', serif;
}

/* Links font */
a {
    font-family: 'Alegreya SC', serif;
}

/* Headings font */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-family: 'Levibrush', cursive;
}
