@import url('https://fonts.googleapis.com/css2?family=Spectral&family=Alegreya+SC&display=swap');

/* Body font */
body {
    font-family: 'Spectral', serif;
}

/* Links font */
a {
    font-family: 'Alegreya SC', serif;
}

/* Headings font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Reddit Mono', monospace;
}
